*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background-color: #EEEEEE;
  color: #000000;
}

.scroll-block {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #EEEEEE;
}
.white-block-left {
  bottom: -1px;
  left: -50px;
  transform: skew(45deg);
}
.white-block-right {
  top: -1px;
  right: -50px;
  transform: skew(45deg);
}

.section-padding {
  padding: 6em 2em;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #87A2FB;
  letter-spacing: 2px;
}

.nav {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 990;
  background-color: #EEEEEE;
  border-bottom: 1px solid rgb(126, 126, 126);
}
.nav__wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}
.nav__desktop {
  display: none;
}
.nav__icon {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  padding: 1em;
  z-index: 1000;
}
.nav__icon-text {
  font-family: "Dancing Script", cursive;
  font-size: 3.2rem;
  color: #6F38C5;
  text-transform: uppercase;
  text-decoration: none;
}
.nav .burger-btn {
  position: fixed;
  top: 0.65rem;
  right: 2rem;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.nav .burger-btn:focus {
  border-radius: 8px;
}
.nav .burger-btn:hover .burger-btn__bars::after,
.nav .burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.nav .burger-btn__box {
  position: relative;
  width: 4rem;
  height: 3rem;
}
.nav .burger-btn__bars, .nav .burger-btn__bars::after, .nav .burger-btn__bars::before {
  content: "";
  position: absolute;
  right: 0;
  height: 4px;
  background-color: #6F38C5;
  transition: width 0.3s;
}
.nav .burger-btn__bars {
  width: 100%;
}
.nav .burger-btn__bars::after {
  top: 13px;
  width: 70%;
}
.nav .burger-btn__bars::before {
  top: 26px;
  width: 40%;
  transition-delay: 0.1s;
}
.nav__mobile-box {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #EEEEEE;
  z-index: 100;
}
.nav__mobile-box--active {
  transform: translateX(0);
}
.nav__mobile-box-item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: #6F38C5;
  text-decoration: none;
  transition: color 0.2s;
}
.nav__mobile-box-item:hover {
  color: #3f0897;
}

@-webkit-keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  -webkit-animation: navItemsAnimation 1s both;
          animation: navItemsAnimation 1s both;
}

.header-img {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/header_small.jpg");
}

.header-img-first {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/cards-first-img.jpg");
}

.header-img-second {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/cards-second-img.jpg");
}

.header-img-third {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/cards-third-img.jpg");
}

.header-img-book {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/book-it/book-it-hero-img_small.jpg");
}

.header-img-other {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/other-islands-hero_small.jpg");
}

.header-img-aboutus {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/about-us_small.jpg");
}

.header-img-team {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/team_small.jpg");
}

.header-img-work {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/work-with-us_small.jpg");
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
.header__heading, .header__text, .header__btn {
  color: #EEEEEE;
  z-index: 1;
}
.header__heading {
  font-family: "Dancing Script", cursive;
  font-size: 4.8rem;
  font-weight: 400;
}
.header__text {
  font-size: 1.6rem;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.6rem;
  border: none;
  border-radius: 1rem;
  background-color: #6F38C5;
  text-decoration: none;
  text-transform: uppercase;
}
.header__btn::before {
  background-color: #3f0897;
}

.book {
  position: relative;
  overflow: hidden;
}
.book__box {
  display: flex;
  flex-direction: column;
}
.book__box-form-label {
  text-transform: uppercase;
}
.book__box-form-input, .book__box-form-select {
  font-family: "Montserrat", sans-serif;
  margin-top: 0.5em;
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  width: 100%;
}
.book__box-form-btn {
  align-self: flex-end;
  margin-top: 3em;
  padding: 1em;
  width: 100%;
  color: #EEEEEE;
  background-color: #6F38C5;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
}
.book__box-form-btn::before {
  background-color: #3f0897;
}

.content__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.content__img {
  width: 100%;
  margin-top: 0.25em;
  margin-bottom: 1em;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.18);
}
.content__title {
  margin-bottom: 0.5em;
  color: #87A2FB;
  font-weight: 300;
}
.content__title a {
  color: #6F38C5;
}
.content__text {
  font-size: 1.4rem;
  margin-left: 0.15em;
}
.content__special {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em 0em;
}
.content__special-text {
  text-align: center;
  font-size: 1.4rem;
}
.content__special-btn {
  margin: 2em 0;
  padding: 0.8em 1.6em;
  font-size: 1.6rem;
  border: none;
  border-radius: 1rem;
  background-color: #6F38C5;
  color: #EEEEEE;
  text-decoration: none;
  text-transform: uppercase;
}
.content__special-btn::before {
  background-color: #3f0897;
}

.hero-img {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/hero-img_small.jpg");
}

.hero-img--second {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/hero-img-2_small.jpg");
}

.hero-img,
.hero-img--second {
  position: relative;
  padding: 10em 2em;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #EEEEEE;
  overflow: hidden;
}
.hero-img__title,
.hero-img--second__title {
  font-family: "Dancing Script", cursive;
  font-size: 4.8rem;
  margin-bottom: 0.5em;
}
.hero-img__text,
.hero-img--second__text {
  padding: 1em 0;
}

.islands__card {
  position: relative;
  margin: 1em 0;
  height: 450px;
  color: #EEEEEE;
  text-align: center;
  perspective: 1000px;
}
.islands__card:hover .islands__card-img {
  transform: rotateY(-180deg);
  opacity: 0;
}
.islands__card:hover .islands__card-info {
  transform: rotateY(0);
  opacity: 1;
}
.islands__card-img {
  padding: 2em;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
  transition: transform 1s, opacity 1s;
}
.islands__card-img--first {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/cards-first-img.jpg");
}
.islands__card-img--second {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/cards-second-img.jpg");
}
.islands__card-img--third {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/cards-third-img.jpg");
}
.islands__card-img--fourth {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/other-islands/banana-island.jpg");
}
.islands__card-img--fifth {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/other-islands/coco-island.jpg");
}
.islands__card-img--sixth {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/other-islands/tiki-taka-island.jpg");
}
.islands__card-img--seventh {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/other-islands/ivory-island.jpg");
}
.islands__card-img--eighth {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/other-islands/togo-island.jpg");
}
.islands__card-img--nineth {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/other-islands/pearl-island.jpg");
}
.islands__card-img-title {
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
}
.islands__card-img-info {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.8rem;
}
.islands__card-img-info i {
  margin-right: 0.3em;
}
.islands__card-info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(20, 105, 241), rgb(42, 10, 184));
  border-radius: 8px;
  opacity: 0;
  transform: rotateY(180deg);
  transition: transform 1s, opacity 1s;
}
.islands__card-info-title, .islands__card-info-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.islands__card-info-title {
  top: 1.2em;
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
}
.islands__card-info-list {
  margin: 0 auto;
  width: 70%;
  list-style: none;
}
.islands__card-info-list-item {
  padding: 1em;
  font-size: 1.4rem;
  border-bottom: 1px solid #EEEEEE;
}
.islands__card-info-list-item:last-child {
  border-bottom: none;
}
.islands__card-info-btn {
  bottom: 2em;
  padding: 1em;
  border-radius: 8px;
  width: 80%;
  border: none;
  background-color: #6F38C5;
  color: #EEEEEE;
  text-decoration: none;
  cursor: pointer;
}
.islands__card-info-btn::before {
  background-color: #3f0897;
}
.islands__card-info-other {
  font-size: 1.8rem;
}

.reviews__box {
  position: relative;
  margin: 2em;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.18);
  transition: transform 0.3s;
}
.reviews__box:hover {
  transform: scale(0.95);
}
.reviews__box-img {
  position: absolute;
  top: 8%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.reviews__box-img img {
  width: 8rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.reviews__box-quote {
  margin: 1em;
  font-size: 3rem;
  color: #87A2FB;
}
.reviews__box-text {
  margin-bottom: 1em;
  font-size: 1.4rem;
}

.contact {
  position: relative;
  background-color: #dddddd;
  overflow: hidden;
}
.contact .white-block-left {
  background-color: #2e2e2e;
}
.contact__form, .contact__form-top {
  display: flex;
  flex-direction: column;
}
.contact__form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.contact__form-input, .contact__form-textarea {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
}
.contact__form-textarea {
  min-width: 100%;
  resize: vertical;
}
.contact__form-btn {
  align-self: flex-end;
  padding: 1em;
  width: 100%;
  color: #EEEEEE;
  background-color: #6F38C5;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
}
.contact__form-btn::before {
  background-color: #3f0897;
}

.footer {
  color: #EEEEEE;
  background-color: #2e2e2e;
}
.footer .wrapper {
  padding: 6em 2em 2em;
}
.footer__box {
  font-size: 1.4rem;
}
.footer__box-desktop {
  display: none;
}
.footer__box-title {
  margin-bottom: 1em;
  font-size: 3rem;
  text-transform: uppercase;
}
.footer__box-title a {
  color: #EEEEEE;
}
.footer__box-social {
  margin: 2em 0 1em;
}
.footer__box-link {
  padding: 0 0.3em;
  font-size: 3.6rem;
  color: #EEEEEE;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__box-link:first-child {
  padding-left: 0;
}
.footer__box-link:hover {
  color: #6F38C5;
}
.footer__bottom-text {
  padding: 2em;
  text-align: center;
}

@media (min-width: 576px) {
  .content__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .content__box-text {
    width: 55%;
  }
  .content__box-text--right {
    text-align: right;
  }
  .content__box-img {
    width: 40%;
  }
  .content__box-img--right {
    order: 1;
  }
  .content__img {
    margin-bottom: 0;
    max-height: 300px;
  }
  .contact__form-btn {
    max-width: 300px;
  }
  .book__box-form-btn {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .reviews.section-padding {
    padding: 6em 0;
  }
}
@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
  .header__heading {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    font-size: 1.8rem;
  }
  .content__title {
    font-size: 2.4rem;
  }
  .content__text {
    font-size: 1.6rem;
  }
  .content__special-text {
    font-size: 1.6rem;
  }
  .content__special-btn {
    font-size: 1.8rem;
  }
  .hero-img,
.hero-img--second {
    padding: 30rem 2em;
  }
  .hero-img hr,
.hero-img--second hr {
    margin: 0 auto;
    width: 70%;
  }
  .hero-img__text,
.hero-img--second__text {
    font-size: 2.2rem;
  }
  .islands__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .islands__card {
    margin: 1em;
    width: 45%;
  }
  .footer__boxes {
    display: flex;
    justify-content: space-between;
  }
  .footer__box {
    margin: 0 2em;
    width: 25%;
  }
  .footer__box:first-child {
    width: 50%;
  }
  .footer__box-desktop {
    display: block;
  }
  .footer__box-title {
    font-size: 2.4rem;
  }
  .footer__box-list {
    list-style: none;
  }
  .footer__box-list-item {
    margin-bottom: 1em;
  }
  .footer__box-list-item a {
    color: #EEEEEE;
    text-decoration: none;
  }
}
@media (min-width: 992px) {
  .nav .burger-btn, .nav__mobile {
    display: none;
  }
  .nav__icon-text {
    margin-bottom: 1em;
  }
  .nav__desktop {
    display: flex;
  }
  .nav__desktop-box {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 80px;
    transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    background: none;
  }
  .nav__desktop-box-item {
    position: relative;
    margin: 0 0.5em 1em 0.5em;
    padding: 0.5em 1em;
    font-size: 2.6rem;
    color: #6F38C5;
    text-decoration: none;
  }
  .nav__desktop-box-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: #6F38C5;
    transition: transform 0.3s;
  }
  .nav__desktop-box-item:hover::before {
    transform: scaleX(1);
  }
  .section-heading {
    font-size: 4.2rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
  .header-img {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/header_big.jpg");
  }
  .header-img-first {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/cards-first-img_big.jpg");
  }
  .header-img-second {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/cards-second-img_big.jpg");
  }
  .header-img-third {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/cards-third-img_big.jpg");
  }
  .header-img-book {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/book-it/book-it-hero-img_big.jpg");
  }
  .header-img-other {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/other-islands-hero_big.jpg");
  }
  .header-img-aboutus {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/about-us_big.jpg");
  }
  .header-img-team {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/team_big.jpg");
  }
  .header-img-work {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/work-with-us_big.jpg");
  }
  .header__heading {
    font-size: 10rem;
  }
  .content__box {
    margin: 5em 0;
  }
  .content__box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2.5em;
  }
  .content__title {
    font-size: 3rem;
  }
  .content__text {
    font-size: 1.6rem;
  }
  .hero-img {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/hero-img_big.jpg");
  }
  .hero-img--second {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/hero-img-2_big.jpg");
  }
  .hero-img,
.hero-img--second {
    padding: 40rem 2em;
  }
  .hero-img__title,
.hero-img--second__title {
    font-size: 7.2rem;
  }
  .hero-img hr,
.hero-img--second hr {
    width: 60%;
    max-width: 900px;
  }
}
@media (min-width: 1100px) {
  .islands__card {
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */