$main-color: #87a2fb;
$special-color: #6f38c5;
$special-btn-color: #3f0897;
$white-color: #eeeeee;
$black-color: #000000;
$light-dark: #dddddd;
$dark: #2e2e2e;
$error-color: #ff0000;
$shadow: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
$blue-gradient: linear-gradient(45deg, rgba(20, 105, 241, 1), rgba(42, 10, 184, 1));
