@use 'colors';

@media (min-width: 992px) {
	.nav {
		height: 150px;

		&__icon {
			top: 4rem;
			left: 5rem;
		}

		.burger-btn-desktop {
			top: 5rem;
			right: 5rem;
		}

		&__desktop {
			&-box {
				height: 150px;
			}
		}
	}

	.section-heading {
		font-size: 4.2rem;
	}

	.section-padding {
		padding: 10em 2em;
	}

	.header-img {
		background-image: colors.$shadow, url('../img/header_big.jpg');
	}

	.header-img-tocatoca {
		background-image: colors.$shadow, url('../img/cards-first-img_big.jpg');
	}

	.header-img-bora {
		background-image: colors.$shadow, url('../img/cards-second-img_big.jpg');
	}

	.header {
		&__heading {
			font-size: 10rem;
		}
	}

	.catchthedreams {
		&__box {
			margin: 5em 0;

			&-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				margin-bottom: 2.5em;
			}
		}

		&__title {
			font-size: 3rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}

	.hero-img {
		background-image: colors.$shadow, url('../img/hero-img_big.jpg');
	}

	.hero-img--second {
		background-image: colors.$shadow, url('../img/hero-img-2_big.jpg');
	}

	.hero-img,
	.hero-img--second {
		padding: 40rem 2em;

		&__title {
			font-size: 7.2rem;
		}

		hr {
			width: 60%;
			max-width: 900px;
		}
	}

	.offers {
		background-image: colors.$shadow, url('../img/offers_big.jpg');

		&__option {
			&-img {
				object-fit: cover;
				height: 300px;
			}

			&-text {
				font-size: 1.5rem;
			}
		}
	}
}

@media (min-width: 1100px) {
	.islands {
		&__card {
			width: 30%;
		}
	}
}
