@use 'colors';

@media (min-width: 992px) {
	.nav {
		.burger-btn,
		&__mobile {
			display: none;
		}

		&__icon {
			&-text {
				margin-bottom: 1em;
			}
		}

		&__desktop {
			display: flex;

			&-box {
				top: 0;
				display: flex;
				align-items: center;
				justify-content: end;
				width: 100%;
				height: 80px;
				transform: translateX(100%);
				transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
				background: none;

				&--active {
					transform: translateX(0);
				}

				&-item {
					position: relative;
					margin: 0 0.5em 1em 0.5em;
					padding: 0.5em 1em;
					font-size: 2.6rem;
					color: colors.$special-color;
					text-decoration: none;

					&::before {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 2px;
						transform: scaleX(0);
						background-color: colors.$special-color;
						transition: transform 0.3s;
					}

					&:hover::before {
						transform: scaleX(1);
					}
				}
			}
		}
	}

	.section-heading {
		font-size: 4.2rem;
	}

	.section-padding {
		padding: 10em 2em;
	}

	.header-img {
		background-image: colors.$shadow, url('../img/header_big.jpg');
	}

	.header-img-first {
		background-image: colors.$shadow, url('../img/cards-first-img_big.jpg');
	}

	.header-img-second {
		background-image: colors.$shadow, url('../img/cards-second-img_big.jpg');
	}

	.header-img-third {
		background-image: colors.$shadow, url('../img/cards-third-img_big.jpg');
	}

	.header-img-book {
		background-image: colors.$shadow, url('../img/book-it/book-it-hero-img_big.jpg');
	}

	.header-img-other {
		background-image: colors.$shadow, url('../img/other-islands-hero_big.jpg');
	}

	.header-img-aboutus {
		background-image: colors.$shadow, url('../img/about-us_big.jpg');
	}

	.header-img-team {
		background-image: colors.$shadow, url('../img/team_big.jpg');
	}

	.header-img-work {
		background-image: colors.$shadow, url('../img/work-with-us_big.jpg');
	}

	.header-img-faq {
		background-image: colors.$shadow, url('../img/faq_big.jpg');
	}

	.header {
		&__heading {
			font-size: 10rem;
		}
	}

	.content {
		&__box {
			margin: 5em 0;

			&-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				margin-bottom: 2.5em;
			}
		}

		&__title {
			font-size: 3rem;
		}

		&__text {
			font-size: 1.6rem;
		}

		&__solutions {
			&-title {
				font-size: 2.6rem;
			}
	
			&-text {
				font-size: 1.6rem;
			}
		}
	}

	.hero-img {
		background-image: colors.$shadow, url('../img/hero-img_big.jpg');
	}

	.hero-img--second {
		background-image: colors.$shadow, url('../img/hero-img-2_big.jpg');
	}

	.hero-img,
	.hero-img--second {
		padding: 40rem 2em;

		&__title {
			font-size: 7.2rem;
		}

		hr {
			width: 60%;
			max-width: 900px;
		}
	}
}

@media (min-width: 1100px) {
	.islands {
		&__card {
			width: 30%;
		}
	}
}
