@media (min-width: 500px) {
	.content {
		&__faq {
			&-list {
				&-menu {
					max-height: 5em;
				}
			}
		}
	}
}

@media (min-width: 576px) {
	.content {
		&__box {
			flex-direction: row;
			justify-content: space-between;

			&-text {
				width: 55%;

				&--right {
					text-align: right;
				}
			}

			&-img {
				width: 40%;

				&--right {
					order: 1;
				}
			}
		}

		&__img {
			margin-bottom: 0;
			max-height: 300px;
		}
	}

	.contact {
		&__form {
			&-btn {
				max-width: 300px;
			}
		}
	}

	.book {
		&__box {
			&-form {
				&-btn {
					max-width: 300px;
				}
			}
		}
	}
}
