@keyframes rotate-right {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0);
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes show-popup-msg {
	from {
		top: -10%;
		opacity: 0;
	}

	to {
		top: 50%;
		opacity: 1;
	}
}

@keyframes pulse {
	from {
		transform: scale(1.5);
		opacity: 0.5;
	}

	to {
		transform: scale(4);
		opacity: 0;
	}
}

@keyframes show-it {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
