@use 'colors';
@use 'animations';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: colors.$white-color;
	color: colors.$black-color;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	animation: show-it 1.5s 1;
}

.scroll-block {
	overflow: hidden;
}

.scroll-block-padding {
	padding-right: var(--padding-space);
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
		z-index: -1;
	}

	&:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
}

.white-block {
	position: absolute;
	width: 60%;
	height: 40px;
	background-color: colors.$white-color;

	&-left {
		bottom: -1px;
		left: -50px;
		transform: skew(45deg);
	}

	&-right {
		top: -1px;
		right: -50px;
		transform: skew(45deg);
	}
}

.section-padding {
	padding: 6em 2em;
}

.section-heading {
	position: relative;
	margin-bottom: 2em;
	color: colors.$main-color;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}

.special-heading {
	margin-top: 4em;
}

.nav {
	position: fixed;
	width: 100%;
	height: 80px;
	transition: background-color 0.3s, border-bottom 0.4s, box-shadow 0.5s;
	z-index: 10;

	&__wrapper {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 1600px;
	}

	&__icon {
		position: absolute;
		top: 8px;
		left: 2rem;
		padding: 1em;
		z-index: 11;

		img {
			display: block;
			animation: rotate-right 55s infinite linear;
		}
	}

	.burger-btn {
		position: absolute;
		top: 10px;
		right: 2rem;
		padding: 1em;
		background: none;
		border: 1px solid transparent;
		cursor: pointer;
		z-index: 12;

		&:focus {
			border-radius: 8px;
		}

		&:hover {
			.burger-btn__bars::after,
			.burger-btn__bars::before {
				width: 100%;
			}
		}

		&__box {
			position: relative;
			width: 4rem;
			height: 3rem;
		}

		&__bars,
		&__bars::after,
		&__bars::before {
			content: '';
			position: absolute;
			right: 0;
			height: 4px;
			background-color: colors.$main-color;
			border-radius: 8px;
			transition: width 0.3s;
		}

		&__bars {
			width: 100%;

			&::after {
				top: 13px;
				width: 70%;
			}

			&::before {
				top: 26px;
				width: 40%;
				transition-delay: 0.1s;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		padding: 0;
		top: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		transform: translateX(100%);
		background-color: colors.$white-color;
		opacity: 0;
		transition: transform 0.7s, opacity 0.7s;

		&--active {
			transform: translateX(0);
			opacity: 1;
		}
	}

	&__item {
		display: inline-block;
		margin-top: 1.5em;
		font-size: 2.2rem;
		list-style: none;
		text-transform: uppercase;
	}

	&__item:first-of-type {
		margin-top: 120px;
	}

	&__link {
		padding: 1em 2em;
		color: colors.$main-color;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: colors.$special-color;
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}

	to {
		transform: translateX(0);
	}
}

.nav-bg {
	background-color: colors.$white-color;
	border-bottom: 1px solid rgb(126, 126, 126);
	box-shadow: 0 0 10px colors.$black-color;
}

.header-img {
	background-image: colors.$shadow, url('../img/header-images/homepage_small.jpg');
}

.header-img-first {
	background-image: colors.$shadow, url('../img/header-images/toca-toca_small.jpg');
}

.header-img-second {
	background-image: colors.$shadow, url('../img/header-images/bora_small.jpg');
}

.header-img-third {
	background-image: colors.$shadow, url('../img/header-images/tunga_small.jpg');
}

.header-img-aboutus {
	background-image: colors.$shadow, url('../img/header-images/about-us_small.jpg');
}

.header-img-team {
	background-image: colors.$shadow, url('../img/header-images/team_small.jpg');
}

.header-img-work {
	background-image: colors.$shadow, url('../img/header-images/work-with-us_small.jpg');
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2em;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	text-align: center;

	&__heading,
	&__text,
	&__btn {
		color: colors.$white-color;
		z-index: 1;
	}

	&__heading,
	&__text {
		&--error {
			color: colors.$black-color;
		}
	}

	&__heading {
		font-family: 'Dancing Script', cursive;
		font-size: 4.8rem;
		font-weight: 400;
	}

	&__text {
		font-size: 1.6rem;
	}

	&__btn {
		margin-top: 2em;
		padding: 0.8em 1.6em;
		background-color: colors.$special-color;
		border: none;
		border-radius: 1rem;
		font-size: 1.6rem;
		text-decoration: none;
		text-transform: uppercase;

		&::before {
			background-color: colors.$special-btn-color;
		}
	}
}

.content {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}

	&__img {
		margin-top: 0.25em;
		margin-bottom: 1em;
		width: 100%;
		border-radius: 8px;
		box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.18);
	}

	&__title {
		margin-bottom: 0.5em;
		color: colors.$main-color;
		font-weight: 300;

		a {
			color: colors.$special-color;
		}
	}

	&__text {
		margin-left: 0.15em;
		font-size: 1.4rem;
	}

	&__special {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 3em 0em;

		&-text {
			font-size: 1.4rem;
			text-align: center;
		}

		&-btn {
			margin: 2em 0;
			padding: 0.8em 1.6em;
			color: colors.$white-color;
			border: none;
			background-color: colors.$special-color;
			border-radius: 1rem;
			font-family: 'Montserrat', sans-serif;
			font-size: 1.6rem;
			text-transform: uppercase;
			text-decoration: none;
			cursor: pointer;

			&::before {
				background-color: colors.$special-btn-color;
			}
		}
	}
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: colors.$blue-gradient;
	transform: translateX(100%);
	opacity: 0;
	transition: transform 0.7s, opacity 0.7s;
	overscroll-behavior-y: contain;
	overflow-y: auto;
	z-index: 998;

	&--active {
		transform: translateX(0);
		opacity: 1;
	}

	&__title {
		margin-top: 1em;
		padding: 1em;
		color: colors.$white-color;
		font-size: 2em;
		text-align: center;
		text-transform: uppercase;
	}

	&__wrapper {
		width: 90%;
		max-width: 900px;
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 1em;
	}

	&__box {
		&-label {
			color: colors.$white-color;
			text-transform: uppercase;
		}

		&-input,
		&-select,
		&-btn {
			font-family: 'Montserrat', sans-serif;
			font-size: 1.6rem;
		}

		&-input,
		&-select {
			margin: 0.5em 0;
			padding: 0.7em 1.2em;
			width: 100%;
			background-color: #fff;
			border: none;
			border-radius: 8px;
		}

		&-error {
			margin-bottom: 2em;
			color: colors.$error-color;
			font-size: 0.9em;
			visibility: hidden;
		}

		&-btn {
			margin: 2em;
			padding: 1em;
			width: 70%;
			color: colors.$white-color;
			background-color: colors.$special-color;
			border: none;
			border-radius: 8px;
			text-transform: uppercase;
			cursor: pointer;

			&::before {
				background-color: colors.$special-btn-color;
			}
		}

		&-icon {
			position: absolute;
			top: 8px;
			right: 1rem;
			padding: 0.5em;
			font-size: 2em;
			color: colors.$white-color;
			cursor: pointer;
		}
	}

	&__message {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(46, 46, 46, 0.2);
		overflow: hidden;
		z-index: 999;

		&-container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 300px;
			height: 150px;
			background-color: colors.$white-color;
			border-radius: 8px;
			border: 2px solid colors.$black-color;
			z-index: 1000;
		}

		&-text {
			margin: 1em;
			font-size: 1.6rem;
			text-align: center;
		}

		&-btn {
			margin: 1em;
			padding: 0.5em;
			width: 40%;
			color: colors.$white-color;
			background-color: colors.$special-color;
			border: none;
			border-radius: 8px;
			font-size: 1.5rem;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			cursor: pointer;

			&::before {
				background-color: colors.$special-btn-color;
			}
		}
	}
}

.warning {
	.popup__box-error {
		visibility: visible;
	}

	.popup__box-input,
	.popup__box-select {
		border: 2px solid colors.$error-color;
	}
}

.hero-img {
	background-image: colors.$shadow, url('../img/hero-images/hero-img_small.jpg');
}

.hero-img--second {
	background-image: colors.$shadow, url('../img/hero-images/hero-img-2_small.jpg');
}

.hero-img,
.hero-img--second {
	position: relative;
	padding: 10em 2em;
	color: colors.$white-color;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	text-align: center;
	overflow: hidden;

	&__title {
		margin-bottom: 0.5em;
		font-family: 'Dancing Script', cursive;
		font-size: 4.8rem;
	}

	&__text {
		padding: 1em 0;
	}
}

.islands {
	&__card {
		position: relative;
		margin: 1em 0;
		height: 450px;
		color: colors.$white-color;
		text-align: center;
		perspective: 1000px;

		&:hover {
			.islands__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}

			.islands__card-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}

		&-img {
			padding: 2em;
			height: 100%;
			background-size: cover;
			background-position: center;
			border-radius: 8px;
			transition: transform 1s, opacity 1s;

			&--first {
				background-image: colors.$shadow, url('../img/homepage/toca-toca_small.jpg');
			}

			&--second {
				background-image: colors.$shadow, url('../img/homepage/bora_small.jpg');
			}

			&--third {
				background-image: colors.$shadow, url('../img/homepage/tunga_small.jpg');
			}

			&-title {
				font-family: 'Dancing Script', cursive;
				font-size: 2.8rem;
			}

			&-info {
				position: absolute;
				bottom: 30px;
				right: 30px;
				font-size: 1.8rem;

				i {
					margin-right: 0.3em;
				}
			}
		}

		&-info {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: colors.$blue-gradient;
			border-radius: 8px;
			opacity: 0;
			transform: rotateY(180deg);
			transition: transform 1s, opacity 1s;

			&-title,
			&-btn {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}

			&-title {
				top: 1.2em;
				font-family: 'Dancing Script', cursive;
				font-size: 2.8rem;
			}

			&-list {
				margin: 0 auto;
				width: 70%;
				list-style: none;

				&-item {
					padding: 1em;
					border-bottom: 1px solid colors.$white-color;
					font-size: 1.4rem;

					&:last-child {
						border-bottom: none;
					}
				}
			}

			&-btn {
				bottom: 2em;
				padding: 1em;
				width: 80%;
				color: colors.$white-color;
				background-color: colors.$special-color;
				border-radius: 8px;
				border: none;
				text-decoration: none;
				cursor: pointer;

				&::before {
					background-color: colors.$special-btn-color;
				}
			}

			&-other {
				font-size: 1.8rem;
			}
		}
	}
}

.reviews {
	&__box {
		position: relative;
		margin: 2em;
		padding: 2em;
		border-radius: 8px;
		box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.18);
		transition: transform 0.3s;

		&:hover {
			transform: scale(0.95);
		}

		&-img {
			position: absolute;
			top: 8%;
			left: 75%;
			transform: translate(-50%, -50%);

			img {
				width: 8rem;
				height: 8rem;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		&-quote {
			margin: 1em;
			color: colors.$main-color;
			font-size: 3rem;
		}

		&-text {
			margin-bottom: 1em;
			font-size: 1.4rem;
		}
	}
}

.contact {
	position: relative;
	background-color: colors.$light-dark;
	overflow: hidden;

	.white-block-left {
		background-color: colors.$dark;
	}

	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}

	&__form {
		&-label {
			margin-bottom: 0.5em;
			text-transform: uppercase;
		}

		&-input,
		&-textarea {
			margin-bottom: 2em;
			padding: 0.6em 1.2em;
			border: none;
			border-radius: 8px;
			font-family: 'Montserrat', sans-serif;
			font-size: 1.6rem;
		}

		&-textarea {
			min-height: 150px;
			min-width: 100%;
			resize: vertical;
		}

		&-btn {
			align-self: flex-end;
			padding: 1em;
			width: 100%;
			color: colors.$white-color;
			background-color: colors.$special-color;
			border: none;
			border-radius: 8px;
			font-size: 1.5rem;
			cursor: pointer;

			&::before {
				background-color: colors.$special-btn-color;
			}
		}
	}
}

.footer {
	color: colors.$white-color;
	background-color: colors.$dark;

	.wrapper {
		padding: 6em 2em 2em;
	}

	&__box {
		font-size: 1.4rem;

		&-desktop {
			display: none;
		}

		&-title {
			margin-bottom: 1em;
			font-size: 3rem;
			text-transform: uppercase;

			a {
				color: colors.$white-color;
			}
		}

		&-social {
			margin: 2em 0 1em;
		}

		&-link {
			padding: 0 0.3em;
			color: colors.$white-color;
			font-size: 3.6rem;
			text-decoration: none;
			transition: color 0.3s;

			&:first-child {
				padding-left: 0;
			}

			&:hover {
				color: colors.$special-color;
			}
		}
	}

	&__bottom-text {
		padding: 2em;
		text-align: center;
	}
}
