@use 'colors';

@media (max-width: 767px) {
	.reviews.section-padding {
		padding: 6em 0;
	}
}

@media (min-width: 768px) {
	.white-block {
		width: 45%;
		height: 50px;
	}

	.section-heading {
		font-size: 3.6rem;
	}

	.section-padding {
		padding: 6em 2em;
	}

	.header {
		&__heading {
			font-size: 6.6rem;
		}

		&__text {
			font-size: 2.2rem;
		}

		&__btn {
			font-size: 1.8rem;
		}
	}

	.content {
		&__title {
			font-size: 2.4rem;
		}

		&__text {
			font-size: 1.6rem;
		}

		&__special {
			&-text {
				font-size: 1.6rem;
			}
	
			&-btn {
				font-size: 1.8rem;
			}
		}
	}

	.popup {
		&__box {
			&-icon {
				right: 2rem;
				padding: 1em;
			}
		}

		&__message {
			&-container {
				width: 500px;
				height: 200px;
			}
		}
	}

	.hero-img,
	.hero-img--second {
		padding: 30rem 2em;

		hr {
			margin: 0 auto;
			width: 70%;
		}

		&__text {
			font-size: 2.2rem;
		}

		&__icon {
			img {
				width: 50px;
				height: 50px;
			}
		}
	}

	.islands {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			flex-direction: row;
		}

		&__card {
			margin: 1em;
			width: 45%;
		}
	}

	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
		}

		&__box {
			margin: 0 2em;
			width: 25%;

			&:first-child {
				width: 50%;
			}

			&-desktop {
				display: block;
			}

			&-title {
				font-size: 2.4rem;
			}

			&-list {
				list-style: none;

				&-item {
					margin-bottom: 1em;

					a {
						color: colors.$white-color;
						text-decoration: none;
					}
				}
			}
		}
	}
}
