@media (min-width: 400px) and (max-height: 300px) {
    .nav {
        &__item:first-of-type {
            margin-top: 80px;
        }
    }
}

@media (min-width: 576px) {
	.popup {
		&__box {
			width: 450px;
			height: 200px;

			&-text {
				font-size: 2rem;
			}
	
			&-btn {
				font-size: 1.6rem;
			}
		}
	}
	
	.content {
		&__box {
			flex-direction: row;
			justify-content: space-between;

			&-text {
				width: 55%;

				&--right {
					text-align: right;
				}
			}

			&-img {
				width: 40%;

				&--right {
					order: 1;
				}
			}
		}

		&__img {
			margin-bottom: 0;
			max-height: 300px;
		}
	}

	.contact {
		&__form {
			&-btn {
				max-width: 300px;
			}
		}
	}

	.book {
		&__box {
			&-btn {
				max-width: 300px;
			}
		}
	}
}
