@media (max-width: 300px) {
	.popup {
		&__message {
			&-container {
				width: 90%;
				height: 200px;
			}
		}
	}
}

@media (min-width: 368px) {
	.popup {
		&__title {
			margin-top: 0;
			padding: 2em;
		}
	}
}

@media (min-width: 400px) and (max-height: 300px) {
	.nav {
		&__item:first-of-type {
			margin-top: 40px;
		}
	}
}

@media (min-width: 400px) and (max-height: 370px) {
	.nav {
		&__item:first-of-type {
			margin-top: 60px;
		}
	}
}

@media (min-width: 576px) {
	.content {
		&__box {
			flex-direction: row;
			justify-content: space-between;

			&-text {
				width: 55%;

				&--right {
					text-align: right;
				}
			}

			&-img {
				width: 40%;

				&--right {
					order: 1;
				}
			}
		}

		&__img {
			margin-bottom: 0;
			max-height: 300px;
		}
	}

	.popup {
		&__box {
			&-btn {
				width: 300px;
			}
		}

		&__message {
			&-container {
				width: 450px;
				height: 200px;
			}

			&-text {
				font-size: 2rem;
			}

			&-btn {
				font-size: 1.6rem;
			}
		}
	}

	.contact {
		&__title {
			padding: 1.5em;
		}

		&__form {
			&-btn {
				max-width: 300px;
			}
		}
	}
}
